<header class="mb-6">

    <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4">

        <div>

            <p class="text-sm text-slate-400 mb-1">
                IT MASUD
            </p>

            <h1 id="pageTitle"
                class="text-2xl md:text-3xl font-bold text-slate-800">

                Dashboard

            </h1>

        </div>


        <div class="flex items-center gap-2 text-sm text-slate-500">

            <i class="fa-regular fa-calendar"></i>

            <span id="currentDate"></span>

        </div>

    </div>

</header>